body {
	font-family: 'IM Fell English', serif;
}

img, embed, object, video {
	max-width: 100%
}

	
#front	{
	border-radius: 50px;
	}

nav a, button {
	min-width: 48px;
	min-height: 48px;
}

#menu {
	background-color: #330066;
	max-width: 100;
	height: 40px;
	border-radius: 50px;
}

#textmenu {
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
}
