body {
	font-family: 'IM Fell English', serif;
}

img, embed, object, video {
	max-width: 100%
}

#front {
	background: #ffffff;
	border-radius: 50%;

nav a, button {
	min-width: 48px;
	min-height: 48px;
}

@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
