body {
	font-family: 'IM Fell English', serif;
}

img, embed, object, video {
	max-width: 100%
}

.imagel {
	position: relative;
	width: 100%
}
	
#front	{
	border-radius: 15px 50px;
	}

#inside {
	position: absolute; 
}

nav a, button {
	min-width: 48px;
	min-height: 48px;
}
