body {
	font-family: 'IM Fell English', serif;
	background-color: white;
}

#menu {
	background-color: #1f043a;
	max-width: 100%;
	height: 165px;
	border-radius: 0px 0px 25px 25px;
}

#textmenu {
	font-family: 'Vollkorn', serif;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
}

nav a, button {
	min-width: 45px;
    min-height: 45px;
    background-color: #1f043a;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 25px;
}

a:link, a:visited {
    color: black;
}
a:hover {
    color: purple;
}


#tzolk {
	border-radius: 25px;
}

#kykl {
	border-radius: 25px;
}

#catan {
	border-radius: 25px;
}

.footer {
	background-color: #1f043a; 
	height: 20px; 
	border-radius: 25px;
}

.footertext {
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	
}
